<div class="aside">
	<div id="aside">
		<div class="perfil">
			<div>
				<img src="<%=user[0].perfil_usuario%>">
				<h1><%=user[0].nome_tipo_usuario%>: <%=user[0].nome_usuario%></h1>
			</div>
		</div>
			<nav>
				<ul>
				<%if(user[0].nivel_de_acesso == 1){%>
				  <li><a href="/">Home</a></li>
				  <li><a href="/bairros">Bairros</a></li>
				  <li><a href="/favoritos">Favoritos</a></li>
				  <li><a>Reclamações</a>
				  	<ul>
				  		<li><a href="/efetuar-reclamacao">Efetuar reclamacao</a></li>
				  		<li><a href="/reclamacoes/Resolvido">Reclamações Resolvidas</a></li>
				  		<li><a href="/reclamacoes/Pendente">Reclamações Pendentes</a></li>
				  	</ul>
				  </li>
				  <li><a href="/dados/pessoais">Dados pessoais</a></li>
				  <li><a href="login/finalizar/session">Sair</a></li>
				<%}else{%>
				  <li><a>Reclamações</a>
				  	<ul>
				  		<li><a href="/reclamacoes/admin/Resolvido">Reclamações Resolvidas</a></li>
				  		<li><a href="/reclamacoes/admin/Pendente">Reclamações Pendentes</a></li>
				  		<li><a href="/reclamacoes/todos">Todas Reclamações</a></li>
				  	</ul>
				  </li>
				  <li><a >Dados gerais</a>
				  	<ul>
					  	<li><a href="/admin/bairros">Bairros </a></li>
						<li><a href="/admin/bairros/linhas">Linhas </a></li>
						<li><a href="/admin/bairros/ruas">Ruas </a></li>
						<li><a href="/admin/bairros/pontos">Pontos</a></li>
						<li><a href="/admin/bairros/usuarios">Usuários </a></li>
					</ul>	
				  </li>
				  <li><a>Cadastros</a>
				  	<ul>
					  	<li><a href="/admin/bairros/bairros/cadastros">Bairros </a></li>
						<li><a href="/admin/bairros/linhas/cadastros">Linhas/Ruas</a></li>
						<li><a href="/admin/bairros/pontos/cadastros">Pontos</a></li>
						<li><a href="/admin/cadastros/via">Vias</a></li>
						<li><a href="/admin/cadastros/horario">Horário</a></li>
					</ul>
				  </li>
				  <li><a href="/login/finalizar/session">Sair</a></li>
				<%}%>
			  </ul>
		</nav>
		
	</div>
</div>